.header__menu li {
    display: inline-block;
    cursor: pointer;
    list-style: none;
    text-align: center;
    background: white;
    margin: 10px;
}

.header__menu li a {
    text-decoration: none;
}

p {
    color: red;
    padding: 0px;
    margin: 0px;
}
img { width: 100%; height: auto; }

